{
  "presets": ["es2015", "stage-2", "flow"],
  "plugins": [
    ["transform-runtime"],
    ["component", [
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-default"
      }
    ]]
  ],
  "comments": false
}
